<!DOCTYPE html>
<title>{{ dataset.name }}</title>

{% block title %}Measurement details for {{ dataset.name }}{% endblock %}
    <p>
    <dl>
    <dt>Operator: {{ dataset.operator }} </dt>
    <dt>Dataset Name: {{ dataset.name }} </dt>
    <dt>Machine: {{ dataset.machine }} </dt>
    <dt>Received: {{ dataset.received }} </dt>
    <dt>Measurement Date: {{ dataset.measure_date }} </dt>
    <dt>Publishable: {% if dataset.is_publishable %} Yes! {% else %} No! {% endif %}</dt>
    </dl>
    </p>

    <dl>

    <dt>Flask Name: {{ dataset.name }} </dt>
    <dt>Formula: {{ dataset.format_formula }} </dt>
    <dt>D / g&CenterDot;cm<sup>-3</sup>: {{ dataset.density }} </dt>
    <p>
        <h3>Unit Cell</h3>
        <dt><it>a</it>: {{ dataset.cell_a }} </dt>
        <dt><it>b</it>: {{ dataset.cell_b }} </dt>
        <dt><it>c</it>: {{ dataset.cell_c }} </dt>
        <dt><it>&alpha;</it>: {{ dataset.alpha }} </dt>
        <dt><it>&beta;</it>: {{ dataset.beta }} </dt>
        <dt><it>&gamma;</it>: {{ dataset.gamma }} </dt>
    </p>
    <p>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
    </p>


    {% comment %}
    <p>
    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url "stdb:list" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload"/></p>
    </form>
    </p>
    {% endcomment %}
    </dl>

<br>

<a href="{% url 'index' %}">Back to main page</a>

