# Windows image file caches
Thumbs.db
ehthumbs.db
cctbx
docs/_build
venv
venv2
venv27
scripts/starter/.vs
scripts/starter/x64
build/
dist/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.olex
*.pyc
.idea/
stdb/migrations/
media/cif_file/
cif_file/
files/
uploads/
stdb_main.py
<tmpfile>
test.sqlite
src/structurefinder/displaymol/jsmol.htm
jsmol.htm
*.sqlite-journal
structuredb.sqlite
scripts/Output/*
test.ins
venv/
test2.sqlite
test3.sqlite

cellcomp/.ncdist.cpp.cppimporthash
cellcomp/ncdist.cpython-37m-darwin.so
cellcomp/ncdist.cp37-win_amd64.pyd
tests/test-data/atomstwoline-finalcif.cif
tests/test-data/COD/finalcif-crash.txt
tests/test-data/ICSD/1925_Barth, T._Ca (Ti O3)_C m m m_Calcium titanate.cif
tests/test-data/p21c-finalcif.cif
StructureFinder-crash.txt
tests/test-data/ICSD/finalcif-crash.txt
/.pytest_cache/
test_merged_db.sqlite
get-pip.py
vc_redist.x64.exe
.python-version
/src/structurefinder.egg-info
/scripts/starter/structurefinder/x64
testru.sqlite
test_res_cif.sqlite
