<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChellCheckCSD</title>
</head>
<body>

    <select id="Centering">
        <option value="1">Primitive (P)</option>
        <option value="2">A-centered (A)</option>
        <option value="3">B-centered (B)</option>
        <option value="4">C-centered (C)</option>
        <option value="5">Face-centered (F)</option>
        <option value="6">Body-centered (I)</option>
        <option value="7">Rhombohedral (R)</option>
    </select>

</body>
</html>